<div class="row">
  <div class="col-md-2">
    <ul class="list-group list-style people">
      <li class="list-group-item" ng-repeat="(key, person) in people" title="{{person.id}}">{{person.name}}</li>
    </ul>
  </div>
  <div class="col-md-10">
    <ul class="list-group list-style chat">
      <li class="list-group-item" ng-repeat="(key, msg) in messages">{{msg.txt}}</li>
    </ul>
    <form ng-submit="send(txt)">
      <input type="text" class="form-control" ng-model="txt" placeholder="Enter your message..">
      <input type="submit" class="btn btn-default">
    </form>
  </div>
</div>