<!doctype html>
<html lang="en" ng-app="chat">
<head>
  <meta charset="UTF-8">
  <title>chat</title>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <style>
    .row-fluid {
      background-color: #eea;
    }
    .chat-conv {
      background-color: #aae;
    }
  </style>
</head>
<body ng-controller="ChatCtrl">
  
  <!-- content -->
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2 chat-list">
        <ul>
          <li ng-repeat="user in users">
            <a href="">{{user}}</a>
          </li>
        </ul>
      </div>
      <div class="span10 chat-conv">
        <ul>
          <li ng-repeat="message in messages">
            <span>{{message}}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <input type="text" value="{{message}}" ng-model="message">
        <input type="submit" ng-click="broadcast(message)" ng-model="message">
      </div>
    </div>
  </div>
  <!-- /content -->

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>